.btnWide{
    width: 75%;
}

.fizz {
    color: rgb(75, 74, 74);
    font-weight:bold;
}
.buzz {
    color: rgb(153, 17, 40);
    font-weight:bold;
}

.fizzBuzz {
    color: rgb(75, 74, 74);
    font-weight:bolder;
}
.fizzhead {
    color: rgb(75, 74, 74);
    font-weight:bold;
}
.buzzhead {
    color: rgb(75, 74, 74);
    font-weight:bold;
}

.fizzBuzzhead {
    color: rgb(75, 74, 74);
    font-weight:bold;
}
.FizzBuzz {
    color: rgb(75, 74, 74);
    font-weight:bolder;
}